    @font-face {
    font-family: 'EYInterstate';
    src: url('fonts/EYInterstate_Bold.ttf');
    src: url('fonts/EYInterstate-Regular.ttf');
    font-family: 'NotoSans';
    src: url('fonts/NotoSans-Regular.ttf');
    }

    @import url('https://fonts.googleapis.com/css?family=Noto+Sans');

    .header {
        background-image: url('../images/video_background.png');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .navbar {
        position:fixed;
	    top:0px;
	    width:100%;
	    height:90px;
	    background-color: transparent;
        transition: 0.3s ease-in;
	    color: #FFFFFF;
	    z-index:9999;

}
    }

    .overlay {
        position: absolute;
        width: 1000px;
        height: 100%;
        left: 0px;
        top: 0px;
        background: rgba(51, 51, 51, 0.93);;
    }

    .nav-item .nav-link {
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-size: 16px;
        font-weight: 300;
    }

    .nav-item:last-of-type > a.nav-link:last-of-type {
        font-size: 18px;
        font-weight: 600;
    }

   .navbar-nav a:hover{
      color: #FEE600 !important;
       transition: 0.4s ease-in-out !important;
}

    .navbar-brand{
        font-weight:600;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #logoey{
        margin-bottom: 15px;
    }

    #center_link{
    padding-left: 10px;
    padding-right: 10px;
    }

    #description{
        position: absolute;
        top: 30%;
        margin-left: px;
        padding-top: 6em;
    }

    #description h1{
        color:#FFFFFF ;
        font-family: EYInterstate, 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
    }

    #descr{
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: lighter;
        line-height: normal;
        font-size: 20px;
    }

    #description p{
        color:#FFFFFF;
        font-size: 18px;
        width: 70%;
        line-height: 1.5;
        padding-top: 15px;
    }

    section.section-title {
      padding-bottom: 80px;
    }

    h1.section-title-heading {
      padding-top: 80px;
      font-size: 48px;
      margin-top: -10px;
      font-family: 'EYInterstate', 'Noto Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      color: #333333;
    }

    p.section-title-paragraph {
      padding-top: 27px;
      max-width: 488px;
      font-family: 'Noto Sans', sans-serif;
      font-style: normal;
      font-weight: lighter;
      line-height: normal;
      font-size: 20px;
      color: #646464;
    }

    img.section-title-img {
      padding-top: 80px;
    }



    #description button{
        background:#FEE600;
        color:#333333;
        text-align: center;
    }

    #play{
        height: 100%;
    }

    .overlay_btn{
        position: absolute;
        margin: 370px 0px 0px 945px;
    }

    .navbar-brand-text {
        padding-left: 20px;
        margin-left: 20px;
        line-height: 60px;
        font-family: EYInterstate, Bold;
        float: right;
        color: #fff !important;
        font-weight: bold;
        font-size: 22px;
        border-left: solid 1px #dcdcdc;
        pointer-events: none;
    }

    @media (max-width: 1000px) {

        .navbar-brand-text {
            display: none;
        }

        }

        .header-bg {
            background-image: url('../images/video_background.png');
            background-size: 100%;
        }
        .overlay{
       width: 1000px;
       height: 793px;
       position: absolute;
       top: 0px;
       left: 0px;
       }
       #over{
        background-color: #333333;
        opacity: 0.7;
        }

        #skills , #speakers {
            font-size: 48px;
            margin-bottom: 0px;
            font-family: EYInterstate, 'Noto Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            padding-top: 80px;
            color: #333333;
        }

        #descrskill, #descrspeaker {
            font-family: 'Noto Sans', sans-serif;
            font-style: normal;
            font-weight: lighter;
            line-height: normal;
            font-size: 20px;
            color: #646464;
        }

     #regbtn {
           background-color: #666666;
           border-top: transparent;
           border-left: transparent;
           color: white;
           width: 179px;
           height: 38px;
           margin-left: 51px; 
           border-bottom: 2px solid #333333;
           border-right: 2px solid #333333;
           font-family: EYInterstate, 'Noto Sans', sans-serif;
        }

        #regbtn:hover {
               border-color: transparent;
               
        }

        #regbtn:active {
            outline: 2px solid #333333;
            outline-offset: -2px;
            border: none;
            box-shadow: none;
}
     

/* --------------- START COLOR BUTTONS -------------------------*/

/* -------- BUTTON GREY STYLE BRANDBOOK ------------- */

     #regbtncards {
           background-color: #666666;
           border-top: transparent;
           border-left: transparent;
           color: white;
           width: 179px;
           height: 38px;
           border-bottom: 2px solid #333333;
           border-right: 2px solid #333333;
           font-family: EYInterstate, 'Noto Sans', sans-serif;
        }

        #regbtncards:hover {
               border-color: transparent;
               
        }

        #regbtncards:active {
            outline: 2px solid #333333;
            outline-offset: -2px;
            border: none;
            box-shadow: none;
            
}

/* -------- BUTTON YELLOW STYLE BRANDBOOK ------------- */

     #regbtncardsyellow {
           background-color: #FEE600;
           border-top: transparent;
           border-left: transparent;
           color: white;
           width: 179px;
           height: 38px;
           margin-left: 51px; 
           border-bottom: 2px solid #333333;
           border-right: 2px solid #333333;
           font-family: EYInterstate, 'Noto Sans', sans-serif;
        }

        #regbtncards:hover {
               border-color: transparent;
               
        }

        #regbtncards:active {
            outline: 2px solid #333333;
            outline-offset: -2px;
            border: none;
            box-shadow: none;
            
}


/* -------- BUTTON BLACK STYLE BRANDBOOK ------------- */



     #regbtncardsyellow {
           background-color: #666666;
           border-top: transparent;
           border-left: transparent;
           color: white;
           width: 179px;
           height: 38px;
           margin-left: 51px; 
           border-bottom: 2px solid #333333;
           border-right: 2px solid #333333;
           font-family: EYInterstate, 'Noto Sans', sans-serif;
        }

        #regbtncards:hover {
               border-color: transparent;
               
        }

        #regbtncards:active {
            outline: 2px solid #333333;
            outline-offset: -2px;
            border: none;
            box-shadow: none;
            
}

/* -------- BUTTON WHITE STYLE BRANDBOOK ------------- */


     #regbtncardswhite {
           background-color: #FFFFFF;
           border-top: transparent;
           border-left: transparent;
           color: #333333;
           width: 179px;
           height: 38px; 
           border-bottom: 2px solid #666666;
           border-right: 2px solid #666666;
           border-top: 2px solid #c0c0c0;
           border-left: 2px solid #c0c0c0;
           font-family: EYInterstate, 'Noto Sans', sans-serif;
        }

        #regbtncardswhite:hover {
            
            outline: 2px solid #c0c0c0;
            outline-offset: -2px;
            border: none;
            box-shadow: none;
               
        }

        #regbtncardswhite:active {
            outline: 2px solid #666666;
            outline-offset: -2px;
            border: none;
            box-shadow: none;
            
}


/* --------------- END COLOR BUTTONS -------------------------*/


.form-control {
    margin-left: 25px;
    height: 38px;
}

        .blog-footer {
            padding: 2em 0;
            color: #333333;
            text-align: center;
            background-color: #c0c0c0;
        }
        #img10 {

           padding: 50px 0px 100px 0px;
        }
        #img09 {
            padding: 70px 0px 100px 0px;
        }
        #regs {
            background-color: #FEE600;
        }
        #formhead{
            padding: 20px 0px 0px 23px;
            font-size: 40px;
            font-family: EYInterstate, 'Noto Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            color: #333333;
        }

        ::-webkit-input-placeholder {
           font-size: 18px;
            font-weight: 300!important;
        }
        .form-control:focus {
        border-color: #FEE600;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        form {
            padding: 20px 0px 50px 0px;
        }

        #phone {
            padding-left: 0px;
            pointer-events: none;
        }

        #row2card1 {
            background-color: #333333;
        }

        #row1card1 {
            background-color: #FEE600;
        }
    #personal-data-border {
    border-bottom: 1px dashed #333333;
        text-decoration: none;
        color: #333333;
        }
		.form-control {
			border: 0px;
		}

#rightnavlink {
    margin-right: 10px;
}


	/* MODULE WINDOW */

    .modal-dialog {
		margin-top: 85px;
	}


	.modal-content {
		border-radius: 0px;
		background-color: #646464;
	}

	#modalclose {
		background-color: #333333;
		border-radius: 0px;
		border: 0px;
	}

	#register {
		background-color: #FEE600;
		border-radius: 0px;
		border: 0px;
		color: #333333;
	}

	.modal-footer {
		border-top: 0px;
	}

	#modalinfo {
	            font-size: 48px;
            margin-bottom: 0px;
            font-family: EYInterstate, 'Noto Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            padding: 10px 0 10px 0px;
            color: #FFFFFF;
	}


#additional-logo {
    
    width: 121px;
    padding-top: 21px;
}
	#modaldescr {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 18px;
    color: #FFFFFF;
	}

.modalheader{
    background-image: url(../images/img_dec_bg.png);
    height: 156px;
    width: 740px;
    margin-left: -15px
}

.modal-window-heading {
    font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}

#modal-1 {
    padding: 55px 0 0 30px;
}


.modal-icon {
    float: right;
    width: 40px;
    box-sizing: content-box;
    margin-top: -46px;
    margin-right: 65px;
}

div.modal-when {
    position: absolute;
    right: 24px;
    margin-top: 20px;
    margin-right:
    /* top: 28px; */
  }

  div.modal-when-date {
    font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 45px;
    text-align: right;
    color: #333333;
  }

  div.modal-when-time {
    font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: right;
    color: #646464;
    padding: 5px 0 5px 0;
  }
  p.modal-paragraph {
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 18px;
    color: #333333;
  }
div.modal-location {
    font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    font-size: 16px;
    text-align: right;
    color: #646464;
}
div.modal-speaker {
    font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    font-size: 18px;
    color: #646464;
    padding-left: 20px;
    margin-top: 20px;
}
#modal-center-speaker {
    padding: 0 10px 0 10px;
}

.modal-speaker-name {
        font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    font-size: 14px;
    color: #333333;
    margin-left: 5px;
    margin-top: 5px;
    padding-bottom: 40px;
}
.modal-reg-header {
    text-align: center;
    padding-top: 40px;
    font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    color: #333333;
    font-size: 28px;
    font-weight: normal;
}

.modal-reg-subheader {
    text-align: center;
    /* padding-top: 0px; */
    font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    color: #808080;
    font-size: 16px;
    font-weight: normal;
}
.modal-header1 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

div div.modal-row {
    min-width: 1110px;
    margin-left: -170px;
    background-color: #FFFFFF;
}


#modal-button {
    border-radius: 0px;
    background: #FEE600;
    color: #333333;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    border-top: transparent;
    border-left: transparent;
    height: 48px;
    outline: none;
    width: 259px;
    margin-left: 38px;
    margin-top: 50px;
    font-family: EYInterstate, 'Noto Sans', sans-serif;
    font-style: normal;
    color: #333333;
    font-size: 18px;
}

#modal-button:hover {
    border-right: transparent;
    border-bottom: transparent;
    transition: 50s ease-in-out;
}
#modal-button:active {
    outline: 2px solid #c0c0c0;
    outline-offset: -5px;

}

#formGroupExampleInput {
    border-radius: 0px;
    height: 48px;
    width: 298px;
    border: 1px solid #808080;
    margin-left: 25px;

}

#gridCheck {
    margin-left: 10px;
}

.form-check {
  padding: 20px 0 0 25px;
}

}
.form-check-label {
    font-size: 14px;
    color: #808080;
}

#exampleModal {
    display: none;
}

#modal-reg-section {
    -webkit-box-shadow: -7px 0px 56px -24px rgba(0,0,0,0.81);
    -moz-box-shadow: -7px 0px 56px -24px rgba(0,0,0,0.81);
    box-shadow: -7px 0px 56px -24px rgba(0,0,0,0.81);
}