  .clearfix {
      clear: both;
    }

  div.speaker-modal {
    position: relative;
    width: 1170px;
    background-color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    line-height: 23px;
    font-size: 18px;
    color: rgba(100, 100, 100, 0.9);
  }

  div.speaker-modal-photo {
    float: left;
    width: 460px;
    height: 580px;
    margin-right: 45px;
    background: url("../images/speaker-modal/img_01.jpg") no-repeat center;
    background-size: cover;
  }

  div.speaker-modal-title {
    width: 590px;
    margin-top: 34px;
    display: inline-block;
  }

  h2.speaker-modal-title-heading {
    font-family: EYInterstate;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 44px;
    /* EY Dark Gray #333333 */
    color: #333333;
  }

  p.speaker-modal-title-paragraph {
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
    margin-bottom: 20px;
    padding-top: 12px;
  }

  div.speaker-modal-title-skills {
    display: inline-block;
    margin-left: 20px;
  }

  ul.speaker-modal-title-list {
    padding-left: 8px;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    font-size: 16px;
    color: inherit;
  }

  li.speaker-modal-title-list-item {
    margin-bottom: 10px;
    background-image: url("../images/speaker-modal/icon_bullet.png");
    background-repeat: no-repeat;
    background-position: 0px 5.5px;
    background-size: 10px 11px;
    padding-left: 20px;
  }

  img.speaker-modal-close {
    position: absolute;
    padding: 20px;
    box-sizing: content-box;
    top: 0;
    right: 0;
  }
